<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CRMProTestSuite">
	<listeners>
		<listener class-name="ExtentReport.TestListener" />
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
     <!--   <class name="TestClasses.LoginPageTest"/>-->
      <class name="TestClasses.HomePageTest"/>
      <!-- <class name="TestClasses.ContactsPageTest"/>
      <class name="TestClasses.NewContactsPageTest"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- CRMProTestSuite -->
